{{yield}}
<li>
  {{answer.author}}'s {{answer.answer}} in {{author.content}}
  {{#if isAnswerDialogShowing}}
    <p>{{answer.author}}{{answer.answer}}{{action 'answerDialogBox'}}></p>
  {{else}}
    <button {{action 'showDialogBox'}}>Answer</button>
  {{/if}}
  {{update-answer answer=answer update="update"}}
  <button {{action 'delete' answer}}>Delete Answer</button>
</li>
