{{yield}}
{{#if updateAnswerForm}}
<h4>Update {{answer.answer}}'{{answer.content}}</h4>
  <form >
    <div class="form-group">
      <label for="author">Author</label>
        {{input value=author id="author"}}
    </div>
    <div class="form-group">
      <label for="Answer">Answer</label>
        {{input value=answer id="answer"}}
    </div>
    <div class="form-group">
      <label for="Content">Any suggestions</label>
        {{input value=content id="content"}}
    </div>
    <button {{action 'update' answer}}>Save</button>
  </form>
{{else}}
  <button {{action 'updateAnswerForm' }}>Update</button>
{{/if}}
