{{outlet}}
 <div class="header">
   <h1>welcome to our question and answer session</h1>
 </div>
 <ul>
   {{#each model questions as |question|}}
     <li>{{question.question}} - {{question.date}} - by {{question.author}}</li>
   {{/each}}
 </ul>

 {{new-question saveQuestion="saveQuestion"}}

 <hr>

 {{#link-to 'about'}}About{{/link-to}}
