{{outlet}}


 <div class="container">

   <h1>Welcome to our question and answer session</h1>
 </div>
 <ul>
   {{#each model questions as |question|}}
     <li>{{question.question}} - {{question.date}} - by {{question.author}}</li>

   {{/each}}
 </ul>

 {{new-question saveQuestion="saveQuestion"}}
 {{new-answer saveAnswer2="saveAnswer3"}}

<h2>All answers</h2>
 <hr>

 <footer>
   {{#link-to 'about'}}About{{/link-to}}
   {{#link-to 'contact-us'}}{{/link-to}}

 </footer>
